/* Estilizamos el cuerpo de la calculadora */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Estilizamos el cuerpo de la calculadora */
body {
  min-height: 100vh;
  background-color: rgb(255, 124, 71);
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Estilizamos la calculadora */
.calculadora {
  background-color: rgb(29, 235, 115);
  color: rgb(10, 9, 9);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 450px;
  padding: 1rem;
  border-radius: 1rem;
  gap: 0.5rem;
}
/* Estilizamos la pantalla de la calculadora */
.pantalla {
  grid-column: 1/5;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  font-size: 2rem;
  text-align: right;
  border-radius: 0.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  overflow: hidden; /*Oculta contenido por fuera de la pantalla*/
  height: 6rem; /*Altura para que quepan dos lineas */
  overflow-wrap: break-word; /*Ajusta el texto para que no se desborde */
}

.pantalla span {
  display: inline-block;
  word-break: break-all; /* Permite la ruptura de palabras si es necesario */
}

/* Estilizamos los botones */
.boton {
  background-color: rgb(6, 3, 36);
  color: rgb(255, 255, 255);
  border: 0;
  padding: 1rem;
  font-size: 2rem; /* Aumento el tamaño de la fuente */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  cursor: pointer;
}
.boton:hover {
  background-color: rgb(221, 180, 76);
}
/* Estilizamos el boton id cero */
#cero {
  grid-column: span 2;
}
/* Estilizamos el boton id igual */
#igual {
  grid-row: span 2;
}
#igual:hover {
  background-color: rgb(132, 167, 227);
}
